<div class="container">
  <%- include('./partials/header.ejs') %>
  <h1>Banter!</h1>
  <%- include('./partials/nav.ejs') %>
      <form class="messageInput" action="/" method="POST">
        <div class="form-group">
          <label for="Author">Author:</label>
          <% if (currentUser) { %>
          <p><input id="Author" type="text" name="author" value="<%=currentUser.username%>" readonly></p>
          <% } else { %>
          <p><input id="Author" type="text" name="author"</p>
          <% } %>
        </div>
        <div class="form-group">
          <label for="Subject">Subject:</label>
          <p><input id="Subject" type="text" name="subject"></p>
        </div>
        <div class="form-group">
          <label for="Banter">Banter:</label>
          <p><textarea id="Banter" name="message" rows="3" required=true></textarea></p>
        </div>
        <input type="submit" name="" value="Post Banter"/>
      </form>
    <div class="list-unstyled">
        <% for(let i = 0; i < messages.length; i++){ %>
        <li class="media">
          <div class="post">
            <h4 class="author">Author: <%=messages[i].author; %></h4>
            <h5 class="subject">Subject: <%=messages[i].subject; %></h5>
            <p class="message"><%=messages[i].message; %></p>
          </div>
        </li>
        <% } %>
        <hr>
    </div>
    <p>Thanks for using our site</p>

    <div>
    </div>

  <%- include('./partials/footer.ejs') %>
</div>
