<div class="container">
  <%- include('../partials/header.ejs') %>
  <h1>Premier League Table</h1>
  <%- include('../partials/nav.ejs') %>

          <table class="table-dark">
            <tr>
              <th>#</th>
              <th>Club</th>
              <th>Played</th>
              <th>Wins</th>
              <th>Draws</th>
              <th>Losses</th>
              <th>Points</th>
            </tr>
            <% for(let i = 0; i < clubs.length; i++){ %>
            <tr>
              <td><%=clubs[i].position; %></td>
              <td><a href="/clubs/<%=clubs[i].id; %>/"><%=clubs[i].name; %></a></td>
              <td><%=clubs[i].matches; %></td>
              <td><%=clubs[i].wins; %></td>
              <td><%=clubs[i].draws; %></td>
              <td><%=clubs[i].losses; %></td>
              <td><%=clubs[i].points; %></td>
            </tr>
            <% } %>
          </table>
  <%- include('../partials/footer.ejs') %>
</div>
